.App {
  text-align: center;
}

.App-logo {
  height: 15vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.BodyDiv{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  height: 100%;
}

.App-footer {
  background-color: #282c34;
  color: white;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position:absolute;
  left:0;
  bottom:0;
  right:0;
}

#textTyped{
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  word-wrap: normal;
}

#newestLogo{
  width: 200px;
  height: 200px;
}